body {
    margin: 0px;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: '100%';
    width: 200px;
    background-color: black;

}

.sidenav a {
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
}

.content {
    margin-left: 200px;
    padding: 16px;
    background-color: bisque;
}

.header {
    margin: 16px;
    background-color: black;
    color: white;
}